@page "/miner"
@layout MainLayout

@inject BikeSparesInventorySystem.Data.Repositories.Repository<Miners> MinersRepository
@inject BikeSparesInventorySystem.Data.Repositories.Repository<Spare> ProductRepository
@inject BikeSparesInventorySystem.Data.Services.AuthService AuthService

@inject ISnackbar Snackbar

@if (Miners == null)
{
    <br/>
    <div style="display:flex;justify-content:space-between; padding:10px 30px">
        <MudSkeleton SkeletonType="SkeletonType.Rectangle" Width="500px" Height="70px" />
        <MudSkeleton SkeletonType="SkeletonType.Rectangle" Width="100px" Height="70px" />
        <MudSkeleton SkeletonType="SkeletonType.Rectangle" Width="100px" Height="70px" />
        <MudSkeleton SkeletonType="SkeletonType.Rectangle" Width="100px" Height="70px" />
    </div>
    <br/>
    <MudSkeleton SkeletonType="SkeletonType.Rectangle" Width="100%" Height="10vh" />
    <br/>
    <MudSkeleton SkeletonType="SkeletonType.Rectangle" Width="100%" Height="50vh" />
}
else{
<MudContainer>
    <MudPaper Class="mud-theme-default my-2" Style="color:rgba(39,39,47,1)">
        <MudForm @ref="form">
            <MudGrid>
                <MudItem xs="4">
                    <MudTextField T="string" Label="Name" @bind-Value="MinersName" OnInternalInputChanged="@HandleInternalInputChange" Variant="Variant.Outlined" ShowProgressIndicator="true" />
                    @* <MudTextField T="string" @bind-Value="MinersName" Variant="Variant.Outlined" Placeholder="Enter Miner's Name" Label="Miner" Validation="true" Required RequiredError="Name is required" /> *@
                </MudItem>
                <MudItem xs="2">
                    @* <MudTextField T="string" @bind-Value="CodeName" Variant="Variant.Outlined" Label="Code Name" Validation="true" /> *@
                    <MudSelect T="string" @bind-Value="CodeName" Variant="Variant.Outlined"
                                Label="Code" 
                                Placeholder="Enter Code" 
                                Validation="true" 
                                AnchorOrigin="Origin.BottomCenter" 
                                TransformOrigin="Origin.BottomCenter">
                            @foreach(var product in Products)
                            {
                                <MudSelectItem Value="product.Name">@product.Name</MudSelectItem>
                            }
                        </MudSelect>
                </MudItem>
                <MudItem xs="2">
                    <MudNumericField  @bind-Value="Price" Variant="Variant.Outlined" Label="Price" AdornmentText="Php" Adornment="Adornment.Start" Validation="true" />
                </MudItem>
                <MudItem xs="2">
                    <MudDatePicker  @bind-Date="CreatedAt" Variant="Variant.Outlined" Label="Date" Validation="true" />
                </MudItem>
                <MudItem xs="2" Class="d-flex justify-content-center align-content-center align-items-center">
                    <MudButton OnClick="Submit" Color="Color.Primary" Variant="Variant.Filled" Size="Size.Small">Add</MudButton>
                </MudItem>
            </MudGrid>
        </MudForm>
    </MudPaper>
</MudContainer>
        
<MudDataGrid T="@Miners" Items="@UniqueMiners"
    FixedHeader="@Fixed_header" 
    FixedFooter="@Fixed_footer"
    Height="@(Fixed_header || Fixed_footer ? "calc(90vh - 64px - 64px - 64px)" : "")"
    Dense="@Dense"
    Hover="@Hover"
    ReadOnly="@ReadOnly">
    
    <Columns>
        <HierarchyColumn/>
        <PropertyColumn Title="Name" Property="x => x.Name" />
        <TemplateColumn Title="Orders">
            <CellTemplate>
                <MudText>@orderCounts[@context.Item.Name + @context.Item.CreatedAt]</MudText>
            </CellTemplate>
        </TemplateColumn>
        <TemplateColumn Title="Total Price">
            <CellTemplate>
                <MudText>@totalPrices[@context.Item.Name + @context.Item.CreatedAt]</MudText>
            </CellTemplate>
        </TemplateColumn>
    </Columns>
    <ChildRowContent>
        <MinersDetail MinersDetails="@context.Item" />
    </ChildRowContent>

    <PagerContent>
        <MudDataGridPager T="@Miners" PageSizeOptions="new int[] { 10, 25, 50, 100, 200, 300,}" />
    </PagerContent>
</MudDataGrid>
}